<section class="section products bgGray">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <app-product-filter-sidebar></app-product-filter-sidebar>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <!-- product Column -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <!-- product Item -->
            <div class="productItem">
              <!-- WishList -->
              <div class="wishlist">
                <a href="#" class="heart"><i class="far fa-heart"></i></a>
                <a href="#" class="liked">25</a>
              </div>
              <!-- Image -->
              <div class="image">
                <a routerLink="/product/details"><img class="img-fluid" src="./../../../../../assets/images/product/product-1.png"
                    alt="product"></a>
              </div>
               <!-- Caption -->
               <div class="caption">
                  <span class="d-block w-100">ADIDAS</span>
                  <a href="#">LUNAR AUDACITY Cricket Shoes For Men (White)</a>
                  <div class="addCart">
                      <div class="row">
                          <div class="col-sm-6 col-6"><a class="btn btn-default btnAddCart d-block" href="#">Add to cart</a></div>
                          <div class="col-sm-6 col-6"><a class="btn btn-primary btnWishlist d-block" href="#">Wishlist</a></div>
                      </div>
                  </div>
              </div>
              <!-- Rating -->
              <div class="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </div>
              <!-- Price -->
              <div class="price">
                <span class="price-on">
                  &#36;699.50
                </span>
                <span class="price-not">
                  &#36;749.50
                </span>
                <p class="small">Free Shipping</p>

              </div>
            </div>
          </div>
          <!-- //product Column -->
          <!-- product Column -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <!-- product Item -->
            <div class="productItem">
              <!-- WishList -->
              <div class="wishlist">
                <a href="#" class="heart"><i class="far fa-heart"></i></a>
                <a href="#" class="liked">25</a>
              </div>
              <!-- Image -->
              <div class="image">
                <a routerLink="/product/details"><img class="img-fluid" src="./../../../../../assets/images/product/product-2.png"
                    alt="product"></a>
              </div>
              <!-- Caption -->
              <div class="caption">
                <span class="d-block w-100">REEBOK</span>
                <a routerLink="/product/details">BRAVATA II FG Football Shoes For Men (White, Black)</a>
              </div>
              <!-- Rating -->
              <div class="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </div>
              <!-- Price -->
              <div class="price">
                <span class="price-on">
                  &#36;345.50
                </span>
                <span class="price-not">
                  &#36;449.50
                </span>
                <p class="small">Free Shipping</p>

              </div>
            </div>
          </div>
          <!-- //product Column -->
          <!-- product Column -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <!-- product Item -->
            <div class="productItem">
              <!-- WishList -->
              <div class="wishlist">
                <a href="#" class="heart"><i class="far fa-heart"></i></a>
                <a href="#" class="liked">25</a>
              </div>
              <!-- Image -->
              <div class="image">
                <a routerLink="/product/details"><img class="img-fluid" src="./../../../../../assets/images/product/product-3.png"
                    alt="product"></a>
              </div>
              <!-- Caption -->
              <div class="caption">
                <span class="d-block w-100">NIKE</span>
                <a routerLink="/product/details">NIKE FLEX EXPERIENCE RN 8 Running Shoe For Men (Blue)</a>
              </div>
              <!-- Rating -->
              <div class="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </div>
              <!-- Price -->
              <div class="price">
                <span class="price-on">
                  &#36;449.50
                </span>
                <span class="price-not">
                  &#36;549.50
                </span>
                <p class="small">Free Shipping</p>

              </div>
            </div>
          </div>
          <!-- //product Column -->
          <!-- product Column -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <!-- product Item -->
            <div class="productItem">
              <!-- WishList -->
              <div class="wishlist">
                <a href="#" class="heart"><i class="far fa-heart"></i></a>
                <a href="#" class="liked">25</a>
              </div>
              <!-- Image -->
              <div class="image">
                <a routerLink="/product/details"><img class="img-fluid" src="./../../../../../assets/images/product/product-4.png"
                    alt="product"></a>
              </div>
              <!-- Caption -->
              <div class="caption">
                <span class="d-block w-100">NIKE</span>
                <a routerLink="/product/details">BRAVATA II FG Football Shoes For Men (White, Black)</a>
              </div>
              <!-- Rating -->
              <div class="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </div>
              <!-- Price -->
              <div class="price">
                <span class="price-on">
                  &#36;699.50
                </span>
                <span class="price-not">
                  &#36;749.50
                </span>
                <p class="small">Free Shipping</p>

              </div>
            </div>
          </div>
          <!-- //product Column -->
          <!-- product Column -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <!-- product Item -->
            <div class="productItem">
              <!-- WishList -->
              <div class="wishlist">
                <a href="#" class="heart"><i class="far fa-heart"></i></a>
                <a href="#" class="liked">25</a>
              </div>
              <!-- Image -->
              <div class="image">
                <a routerLink="/product/details"><img class="img-fluid" src="./../../../../../assets/images/product/product-5.png"
                    alt="product"></a>
              </div>
              <!-- Caption -->
              <div class="caption">
                <span class="d-block w-100">NIKE</span>
                <a routerLink="/product/details">NIKE FLEX EXPERIENCE RN 8 Running Shoe For Men (Blue)</a>
              </div>
              <!-- Rating -->
              <div class="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </div>
              <!-- Price -->
              <div class="price">
                <span class="price-on">
                  &#36;345.50
                </span>
                <span class="price-not">
                  &#36;449.50
                </span>
                <p class="small">Free Shipping</p>

              </div>
            </div>
          </div>
          <!-- //product Column -->
          <!-- product Column -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <!-- product Item -->
            <div class="productItem">
              <!-- WishList -->
              <div class="wishlist">
                <a href="#" class="heart"><i class="far fa-heart"></i></a>
                <a href="#" class="liked">25</a>
              </div>
              <!-- Image -->
              <div class="image">
                <a routerLink="/product/details"><img class="img-fluid" src="./../../../../../assets/images/product/product-6.png"
                    alt="product"></a>
              </div>
              <!-- Caption -->
              <div class="caption">
                <span class="d-block w-100">NIKE</span>
                <a routerLink="/product/details">LUNAR AUDACITY Cricket Shoes For Men (White)</a>
              </div>
              <!-- Rating -->
              <div class="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </div>
              <!-- Price -->
              <div class="price">
                <span class="price-on">
                  &#36;449.50
                </span>
                <span class="price-not">
                  &#36;549.50
                </span>
                <p class="small">Free Shipping</p>

              </div>
            </div>
          </div>
          <!-- //product Column -->
          <!-- product Column -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <!-- product Item -->
            <div class="productItem">
              <!-- WishList -->
              <div class="wishlist">
                <a href="#" class="heart"><i class="far fa-heart"></i></a>
                <a href="#" class="liked">25</a>
              </div>
              <!-- Image -->
              <div class="image">
                <a routerLink="/product/details"><img class="img-fluid" src="./../../../../../assets/images/product/product-1.png"
                    alt="product"></a>
              </div>
              <!-- Caption -->
              <div class="caption">
                <span class="d-block w-100">ADIDAS</span>
                <a routerLink="/product/details">LUNAR AUDACITY Cricket Shoes For Men (White)</a>
              </div>
              <!-- Rating -->
              <div class="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </div>
              <!-- Price -->
              <div class="price">
                <span class="price-on">
                  &#36;699.50
                </span>
                <span class="price-not">
                  &#36;749.50
                </span>
                <p class="small">Free Shipping</p>

              </div>
            </div>
          </div>
          <!-- //product Column -->
          <!-- product Column -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <!-- product Item -->
            <div class="productItem">
              <!-- WishList -->
              <div class="wishlist">
                <a href="#" class="heart"><i class="far fa-heart"></i></a>
                <a href="#" class="liked">25</a>
              </div>
              <!-- Image -->
              <div class="image">
                <a routerLink="/product/details"><img class="img-fluid" src="./../../../../../assets/images/product/product-2.png"
                    alt="product"></a>
              </div>
              <!-- Caption -->
              <div class="caption">
                <span class="d-block w-100">REEBOK</span>
                <a routerLink="/product/details">BRAVATA II FG Football Shoes For Men (White, Black)</a>
              </div>
              <!-- Rating -->
              <div class="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </div>
              <!-- Price -->
              <div class="price">
                <span class="price-on">
                  &#36;345.50
                </span>
                <span class="price-not">
                  &#36;449.50
                </span>
                <p class="small">Free Shipping</p>
              </div>
            </div>
          </div>
          <!-- //product Column -->
          <!-- product Column -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <!-- product Item -->
            <div class="productItem">
              <!-- WishList -->
              <div class="wishlist">
                <a href="#" class="heart"><i class="far fa-heart"></i></a>
                <a href="#" class="liked">25</a>
              </div>
              <!-- Image -->
              <div class="image">
                <a routerLink="/product/details"><img class="img-fluid" src="./../../../../../assets/images/product/product-3.png"
                    alt="product"></a>
              </div>
              <!-- Caption -->
              <div class="caption">
                <span class="d-block w-100">NIKE</span>
                <a routerLink="/product/details">NIKE FLEX EXPERIENCE RN 8 Running Shoe For Men (Blue)</a>
              </div>
              <!-- Rating -->
              <div class="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </div>
              <!-- Price -->
              <div class="price">
                <span class="price-on">
                  &#36;449.50
                </span>
                <span class="price-not">
                  &#36;549.50
                </span>
                <p class="small">Free Shipping</p>
              </div>
            </div>
          </div>
          <!-- //product Column -->
        </div>
      </div>
    </div>
  </div>
</section>