<section class="section product-detail">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="product-box">
          <img alt="product-image" class="img-fluid" src="./../../../../assets/images/product/product-detail-big-image.png" />
        </div>
        <div class="thumb-box">
          <div class="thumb-img-box">
            <img alt="thumb-image" class="img-fluid" src="./../../../../assets/images/product/product-detail-thumb-1.png" />
          </div>
          <div class="thumb-img-box">
            <img alt="thumb-image" class="img-fluid" src="./../../../../assets/images/product/product-detail-thumb-2.png" />
          </div>
          <div class="thumb-img-box">
            <img alt="thumb-image" class="img-fluid" src="./../../../../assets/images/product/product-detail-thumb-3.png" />
          </div>
          <div class="thumb-img-box">
            <img alt="thumb-image" class="img-fluid" src="./../../../../assets/images/product/product-detail-thumb-4.png" />
          </div>
          <div class="thumb-img-box">
            <img alt="thumb-image" class="img-fluid" src="./../../../../assets/images/product/product-detail-thumb-5.png" />
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="product-detail-description">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Sports wear</a></li>
              <li class="breadcrumb-item active" aria-current="page">Cycling Suit</li>
            </ol>
          </nav>
          <h6>NIKE</h6>
          <h3>Men's Triathlon Short-Sleeved<br /> Trisuit Front Zipper LD</h3>
          <!-- Rating -->
          <div class="ratings">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span class="rating-point">4.5</span>
            <span class="rating-text">Rating by 600 people</span>
          </div>
          <!-- Rating -->
          <div class="price">
            <span class="price-on">
              &#36;50
            </span>
            <span class="price-not">
              &#36;60
            </span>
          </div>
          <div class="select-box">
            <div class="row">
              <div class="col-sm-6">
                <label>Size</label>
                <select>
                  <option>Select Size</option>
                  <option>Small</option>
                  <option>Mediun</option>
                  <option>Large</option>
                  <option>Extra Large</option>
                </select>
              </div>
              <div class="col-sm-6">
                <label>Quantity</label>
                <p class="increment-box">
                  <span class="plus-minus">-</span>
                  <span class="number">1</span>
                  <span class="plus-minus">+</span>
                </p>
              </div>
            </div>
          </div>
          <div class="color-box">
            <label>Color</label>
            <span class="color-outer active"><span style="background-color: #00416B;" class="color"></span></span>
            <span class="color-outer"><span style="background-color: #F96363;" class="color"></span></span>
            <span class="color-outer"><span style="background-color: #FFC43A;" class="color"></span></span>
            <span class="color-outer"><span style="background-color: #40DE7A;" class="color"></span></span>
            <span class="color-outer"><span style="background-color: #8C68F1;" class="color"></span></span>
            <span class="color-outer"><span style="background-color: #B716CF;" class="color"></span></span>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <button class="btn btnCart" href="#"><span><img src="./../../../../assets/images/cart.svg" width="20" height="20" alt=""
                    class="iconsvg"></span>Add to Cart</button>
            </div>
            <div class="col-sm-4">
              <button class="btn btnFavorite" href="#"><span><i class="far fa-heart"></i></span>Favorite</button>
            </div>
          </div>
          <div class="policy-list">
            <ul>
              <li>30 Days Return Policy</li>
              <li>Cash on Delivery Available</li>
              <li>Bank Offer 10% off* with Axis Bank Buzz Credit Card T &amp; C</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>