<div class="filterBox">
  <h6>Filter By</h6>
  <div class="filterDiv">
    <h5>Brands</h5>
    <p class="searchBar">
        <span class="search-icon"><i class="fa fa-search"></i></span><input type="text" />
    </p>
    <ul>
      <li><input type="checkbox" />Apc (203)</li>
      <li><input type="checkbox" />Acne studio (508)</li>
      <li><input type="checkbox" />Adidas (126)</li>
      <li><input type="checkbox" />Alexander Mcqueen (158)</li>
      <li><input type="checkbox" />All Saints (228)</li>
      <li><input type="checkbox" />Ami (168)</li>
      <li><input type="checkbox" />Amiri (84)</li>
      <li><input type="checkbox" />Armani Collezioni (92)</li>
      <li><input type="checkbox" />Armani Jeans (96)</li>
      <li><input type="checkbox" />ASPESI (145)</li>
    </ul>
  </div>
  <div class="filterDiv">
    <h5>Price</h5>
    <p class="minMaxPara">
      <span>
        <input class="minMax" placeholder="Min" type="number" />
        <span>$20</span>
      </span>
      <span>
        <input class="minMax" placeholder="Max" type="number" />
        <span>$3000</span>
      </span>
      <button class="btn btnOk">OK</button>
    </p>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0" onclick="this.classList.toggle('active')" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Women's Size
        </h5>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
        <div class="card-body">
          <span>XS</span><span>S</span><span>M</span><span>L</span><span>XL</span><span>XXL</span><span>XXXL</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0" onclick="this.classList.toggle('active')" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Men's Size
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
        <div class="card-body">
          <span>XS</span><span>S</span><span>M</span><span>L</span><span>XL</span><span>XXL</span><span>XXXL</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0" onclick="this.classList.toggle('active')" data-toggle="collapse" data-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree">
          Material
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
        <div class="card-body">
          <span>XS</span><span>S</span><span>M</span><span>L</span><span>XL</span><span>XXL</span><span>XXXL</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0" onclick="this.classList.toggle('active')" data-toggle="collapse" data-target="#collapseFour"
          aria-expanded="false" aria-controls="collapseFour">
          Color
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
        <div class="card-body">
          <span>XS</span><span>S</span><span>M</span><span>L</span><span>XL</span><span>XXL</span><span>XXXL</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0" onclick="this.classList.toggle('active')" data-toggle="collapse" data-target="#collapseFive"
          aria-expanded="false" aria-controls="collapseFive">
          Discount
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
        <div class="card-body">
          <span>XS</span><span>S</span><span>M</span><span>L</span><span>XL</span><span>XXL</span><span>XXXL</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0" onclick="this.classList.toggle('active')" data-toggle="collapse" data-target="#collapseSix"
          aria-expanded="false" aria-controls="collapseSix">
          Offers
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
        <div class="card-body">
          <span>XS</span><span>S</span><span>M</span><span>L</span><span>XL</span><span>XXL</span><span>XXXL</span>
        </div>
      </div>
    </div>
  </div>
</div>